<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/security
						   http://www.springframework.org/schema/security/spring-security-3.2.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.2.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	
	<tx:annotation-driven />
	<context:annotation-config />
	<context:component-scan base-package="com.datawings.app" />	
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />
	
	<sec:global-method-security secured-annotations="enabled"
		pre-post-annotations="enabled">
<!-- 		<sec:expression-handler ref="methodExpressionHandler" /> -->
	</sec:global-method-security>
	
	<!-- View-Controller -->
	<import resource="view-context.xml" />

	<!-- Resources Mapping -->
	<mvc:resources mapping="/src/**" location="/static/" />
			
	<!-- Spring message source -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
		p:basenames="classpath:messages" p:defaultEncoding="UTF-8" />
	

	<!-- Declare the Interceptor -->
	<mvc:interceptors>
		<bean id="localeChangeInterceptor"
			class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"
			p:paramName="lang" />
	</mvc:interceptors>

	<!-- Declare the Locale Resolver -->

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="vi" />
	</bean>

	<!-- Declare the Tiles Resolver -->
	<bean id="tilesViewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver"
		p:viewClass="org.springframework.web.servlet.view.tiles2.TilesView" />

	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer"
		p:definitions="WEB-INF/defs/tiles.xml" />

	<bean class="org.springframework.web.servlet.view.XmlViewResolver"
		p:location="/WEB-INF/context/views.xml" />

	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

	<!-- Configure the multipart resolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
       <!--  one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="100000000"/>
    </bean>
  
</beans>